.container {
  width: 400px;
  height: 500px;

  background-color: rgb(216, 230, 243);
}
.div1 {
  text-align: center;
  color: white;
  padding: 5px;
  background-color: rgb(0, 123, 255);
}
button {
  width: 100%;
  padding: 5px;
  background-color: rgb(51, 128, 245);
  color: white;
  position: relative;
  border-radius: 10px;
}

.div5 {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.div6 {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
.subdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div7 {
  background-color: greenyellow;
  text-align: center;
  margin: 2px;
  border-radius: 20px;
}

.sub-container {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px;
  border: 1px solid black;
  height: 350px;
}
input {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 223, 236);
  color: black;
}
